<p>template-control-flow </p>

@for (item of itens; track item.name;
  let i = $index;
  let c = $count;
  let f = $first;
  let l = $last;
  let e = $even;
  let o = $odd;
  ) {
  <p>{{ item.name }}</p>
  <p>index - {{ i }}</p>
  <p>count - {{ c }}</p>
  <p>first - {{ f }}</p>
  <p>last - {{ l }}</p>
  <p>even - {{ e }}</p>
  <p>odd - {{ o }}</p>
}

<input type="text" #name>
<button (click)="addNewName(name.value)">Add Name</button>



<hr>
<h2>IF usando froma nova</h2>

<!--@ => versoes nova o angular ta usando control flow-->
@if (this.isTrue) {
  <p>Ender</p>
  <p>bruna</p>
} @else {
  Nao
}


<br>
<h2>IF , FOR</h2>

<h2 class="text-danger">forma antiga usando For</h2>
<ng-container *ngIf="loadingData$ | async as data; else loading">
  <p>{{ data }}</p>
</ng-container>
<ng-template #loading><p>Carregando....</p></ng-template>

<h2>if e for assicrono</h2>
@if (loadingData$ | async; as data) {
  <ul>
    @for (item of data; track item) {
      <li>{{ item }}</li>
    }
  </ul>
} @else {
  <p>Carregando....</p>
}

<h2>for assicrono </h2>
<ul>
  @for (item of loadingData$ | async; track item) {
    <li>{{ item }}</li>
  }
</ul>


