<p>template-driven-forms !</p>

<form action="" #form=ngForm (ngSubmit)="submitForm(form)">
  <label for="">
    Nome:
    <input type="text"
           #name="ngModel"
           [ngModel]="name.value"
           required
           name="inputName">
  </label>
  <hr>
  <p>Name : {{ name.value }}</p>
  <p>valid : {{ name.valid }}</p>
  <p>touched : {{ name.touched }}</p>
  <p>dirty - formulario esta sujo : {{ name.dirty }}</p>
  <hr>


  <label for="">Feminino:
    <input type="radio"
           value="feminino"
           #sexo="ngModel"
           [ngModel]="sexo.value"
           required
           name="radioSexo">
  </label>
  <label for="">Masculino:
    <input type="radio"
           value="masculino"
           #sexo="ngModel"
           [ngModel]="sexo.value"
           required
           name="radioSexo">
  </label>
  <label for="">Outros:
    <input type="radio"
           value="outros"
           #sexo="ngModel"
           [ngModel]="sexo.value"
           required
           name="radioSexo">
  </label>
  <hr>
  <p>Name : {{ sexo.value }}</p>
  <p>valid : {{ sexo.valid }}</p>
  <p>touched : {{ sexo.touched }}</p>
  <p>dirty - formulario esta sujo : {{ sexo.dirty }}</p>
  <hr>

  <label for="">Angular:
    <input type="checkbox"
           value="Angular"
           name="checkBoxAngular"
           #Angular="ngModel"
           [ngModel]="Angular.value"
           required
    >
  </label>
  <hr>
  <p>Name : {{ Angular.value }}</p>
  <p>valid : {{ Angular.valid }}</p>
  <p>touched : {{ Angular.touched }}</p>
  <p>dirty - formulario esta sujo : {{ Angular.dirty }}</p>
  <hr>


  <h1>Select</h1>
  <select name="selectComidas" id="selectComidas" #comidas="ngModel" ngModel>
    <option value="">selecione uma comida</option>
    @for (item of listComidas(); track item) {
      <option [ngValue]="item">{{ item.comida }}</option>
    }

  </select>
  {{ comidas.value?.comida }}
  {{ comidas.value?.preco }}
  {{ comidas.valid }}
  {{ comidas.touched }}
  {{ comidas.dirty }}

  <button [disabled]="!form.valid" type="submit">Send</button>
</form>

<p>Form Valid : {{form.valid}}</p>
<p>Forma Value : {{form.value | json}}</p>
