<header class="sticky-top">

  <nav class="navbar navbar-light bg-white">
    <a href="">Gatito book</a>
    <!-- async pega informaçoes observable se precisa dar subscript-->
    <div *ngIf="user$ | async as user"> <!--  user variavel local representa o q ta dentro user$-->
      <div *ngIf="user.name ; else login">
        <i class="fa fa-user-circle mr-1">
          <a class="mr-1">{{user.name}}</a>
          <a (click)="logout()" class="mr-1">logout</a>
        </i>
      </div>

    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
       <a [routerLink]="['/home']">Login</a>
    </span>
  </ng-template>
</header>
