@if (!getListItems().length) {
  <div class="container">
    <img src="assets/img/task-list-null.png"
         alt="Sua Lista esta vazia - image ilustrativa"
         loading="lazy">

    @if (addItem()) {
      <button class="btn btn-primary" (click)="addItem.set(false)">
        Crie uma Lista de Tarefas
      </button>
    } @else {
      <app-input-add-item (outputAddListItem)="getInputAndAddItem($event)" [inputListItems]="getListItems()"/>
    }
  </div>
} @else {
  <app-input-add-item (outputAddListItem)="getInputAndAddItem($event)"
                      [inputListItems]="getListItems()"/>

  <main class="container">
    @if (listItemsStage('pending').length) {
      <h2>Pendências</h2>
      <app-input-list-item
        [inputListItems]="listItemsStage('pending')"
        (outputUpdateItemCheckbox)="uptadeItemCheckBox($event)"
        (outputUpdateItemText)="updateItemText($event)"/>
    }


    @if (listItemsStage('completed').length) {
      <h2>Concluidas</h2>
      <app-input-list-item [inputListItems]="listItemsStage('completed')"
                           (outputUpdateItemCheckbox)="uptadeItemCheckBox($event)"
      (outputUpdateItemText)="updateItemText($event)"/>
    }

  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">Deletar todos os items</button>
  </footer>

}



