@import "../../../config-scss/rem-calc";
$padding: rem-calc(20);



:host {
  .listagem {
    display: flex;
    //quebra na vertical
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem-calc(10);

    .pokemon {
      position: relative;
      display: flex;
      background: var(--branco);

      width: calc(49% - 2.5rem);
      height: rem-calc(157 - 40);

      margin-bottom: rem-calc(10);
      padding: $padding;

      border-radius: rem-calc(10);

      text-decoration: none;
      color: var(--primary-color);

      &__status {
        h2 {
          text-transform: capitalize;
          font-size: rem-calc(22);
          font-style: italic;
          font-weight: 700;
          margin-bottom: rem-calc(10);
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            background: var(--cinza);
            font-size: rem-calc(10);
            display: flex;
            justify-content: center;
            padding: rem-calc(5);
            align-items: center;

            border-radius: rem-calc(50);

            width: rem-calc(60);
            margin-bottom: rem-calc(5);
          }
        }


      }

      &__image {
        position: absolute;
        height: rem-calc(90);
        width: rem-calc(110);

        display: flex;
        justify-content: center;
        bottom: $padding;
        right: $padding;
        background: url("../../../assets/bg/background-list-pokemons.svg");

        img {
          width: rem-calc(60);
        }
      }
    }

  }
}
