<h2 >Optijmizacao de imagem</h2>
<p>loading="lazy" -> carrega a imagem qnd tela estive nela ex: scroll qnd descemos ela carrega assim que chega no fim</p>
<!--<img ngSrc="assets/capa.jpg" alt="uma imagem" width="200" height="200" loading="lazy">-->
<img alt="uma imagem" disableOptimizedSrcset height="200" ngSrc="capa.jpg" priority width="200">
<!--disableOptimizedSrcset -> serve evita multipas carregamento das imagens-->
<div style="position: relative;width: 250px;height: 400px; background: aquamarine">
  <img alt="uma imagem1" disableOptimizedSrcset fill ngSrc="capa.jpg" priority style="object-fit: cover">
</div>
