<h2 >Optijmizacao de imagem</h2>
<p>loading="lazy" -> carrega a imagem qnd tela estive nela ex: scroll qnd descemos ela carrega assim que chega no fim</p>
<!--<img ngSrc="assets/capa.jpg" alt="uma imagem" width="200" height="200" loading="lazy">-->
<img ngSrc="assets/capa.jpg" alt="uma imagem" width="200" height="200" priority>

<div style="position: relative;width: 250px;height: 400px; background: aquamarine">
  <img ngSrc="assets/capa.jpg" alt="uma imagem" fill priority style="object-fit: cover">
</div>
