<header>
  <img src="assets/img/ender.jpg" alt="Ender - foto de perfil"
       width="130px"
       height="130px"
       loading="eager"
  />

  <h1>Ender Scopel</h1>
</header>

<aside>
  <div class="container">
    <p>Samambaia , Distrito Federal , Brasil</p>
    <p>
      Estou na área de desenvolvimento de software mais de 10 anos. Devido isso
      resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/edvan-a-c-ximenes-aa9708a3/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5561991411476&text=Ol%C3%A1%20Ender,%20preciso%20de%20um%20job!"
            target="_blank">
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (61) 9 9141 1476</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="endvan@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>endvan&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>


  </div>
</aside>
