<header>
  <a routerLink="extrato">bytebank ender</a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo">Nova Transferencia</a>
  <a routerLink="/pix" routerLinkActive="ativo">Pix</a>
</header>

<main>
  <router-outlet></router-outlet>
</main>
<!--dps q configurar o app-router so colocar router-->


<!--&lt;!&ndash;passando evento (aoTransferir)="transferir($event)"&ndash;&gt;-->
<!--&lt;!&ndash;<app-nova-transferencia (aoTransferir)="transferir($event)"></app-nova-transferencia>&ndash;&gt;-->

<!--&lt;!&ndash;usando service &ndash;&gt;-->
<!--<app-nova-transferencia></app-nova-transferencia>-->

<!--&lt;!&ndash;usando selector personalizado ng g c extrato &#45;&#45;skip-tests -p=ender&ndash;&gt;-->
<!--&lt;!&ndash;usando @input&ndash;&gt;-->
<!--&lt;!&ndash;<ender-extrato [transferiencias]="transferiencia"  ></ender-extrato>&ndash;&gt;-->

<!--&lt;!&ndash;usando service &ndash;&gt;-->
<!--<ender-extrato></ender-extrato>-->
<!--&lt;!&ndash;<ngav-badge [badges]="filtro" ></ngav-badge>&ndash;&gt;-->
