<h1>Template</h1>
<h3>Text Interpolation</h3>

{{name}}
{{age}} - {{sum(10,66)}}

{{ age < 1 ? 'de menor' : 'adulto'}}
<button [disabled]="isDisabled">Button</button>

<h2>classe an styles binding</h2>

<p [class.background-red]="age > 32 " [class.background-blue]="age < 32 " >
  {{name}}
</p>

<p [style.text-decoration]="isTextDecoration">{{age}}</p>

<h2>Event bindings</h2>

<button (click)="sumEvent()">+</button>
<button (click)="subEvent()">-</button>

<input (keydown.shift.t)="onKeyDown($event)" />


<div (mousemove)="onMouseEvent($event)" style="background: red; width: 300px; height:300px; margin-top: 10px;">
</div>

    <h3>Two-way Data Bindings</h3>

<input [(ngModel)]="name" type="text"/>

{{name}}


<h1>  Diretivas de Atributos</h1>
<h2 [ngClass]="{'background-blue': true}">classes condiionais</h2>

<div>Estilos dinâmicos</div>
