<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono pensamento-p">
  <img alt="aspas coloridas" src="/assets/imagens/{{pensamento.modelo}}.png">
  <p class="conteudo">{{pensamento.conteudo}}</p>
  <p class="autoria"><b>{{pensamento.autoria}}</b></p>

  <div class="acoes">
    <button class="botao-editar" routerLink="/pensamento/editar/{{pensamento.id}}">
      <img alt="icon Editar" src="/assets/imagens/icone-editar.png">
    </button>
    <button class="botao-excluir" routerLink="/pensamento/excluir/{{pensamento.id}}">
      <img alt="icon excluir"  src="/assets/imagens/icone-excluir.png">
    </button>
  </div>
</div>
