<p>consume-service !</p>
 <h3>Get List</h3>
@if (getListaTask(); as data) {
  <ul>
    @for (item of data; track item) {
      <li>{{ item.id }}-{{ item.title }}</li>
    } @empty {
      <li>Sem dados carregados!</li>
    }
  </ul>
} @else {
  <ul>
    <li>Loading .....</li>
  </ul>
}

<!--async -> serve para carregar os observable-->
<!--{{ getTask$ | async | json}}-->

<h3>Get List item</h3>
@if (getListTaskId(); as dataItem){
  <p>{{dataItem.id}} - <small>{{dataItem.title}}</small></p>
}

<h3>Post Create</h3>
<input type="text" #createTitle placeholder="Add Title">
<button type="submit" (click)="httpTaskCreateConcatMap(createTitle.value)">Create</button>


